SECRET_KEY=django-insecure-ii74!4@@vu3$j54$z%ynzh#(l^bce@ugbbv896ba^%!=j_c=il
DEBUG=True

DB_NAME=localdb
DB_USER=smart_user
DB_PASSWORD=SmartPass123!
DB_HOST=127.0.0.1
DB_PORT=5432

MSSQL_DB_NAME=healthcaredb
MSSQL_DB_USER=app_user
MSSQL_DB_PASSWORD=M@dison@!0
MSSQL_DB_HOST=192.168.0.110
MSSQL_DB_PORT=1433